{% extends 'layout.html.twig' %}

{% block content %}
<article>
    <section>
        <h2>Les invités</h2>
        <div id="appUser"></div>
    </section>
</article>

<aside>
    <div id="notice"></div>
</aside>
{% endblock %}

{% block javascript %}
<script src="{{ app.request.basepath }}/js/libs/razorfish-slider/slider.js"></script>

<script src="{{ app.request.basepath }}/application.js"></script>
<script src="{{ app.request.basepath }}/models/user.js"></script>
<script src="{{ app.request.basepath }}/collections/users.js"></script>
<script src="{{ app.request.basepath }}/views/indexUser.js"></script>
<script src="{{ app.request.basepath }}/views/showUser.js"></script>
{# <script src="{{ app.request.basepath }}/views/editUser.js"></script> #}
<script src="{{ app.request.basepath }}/views/notice.js"></script>
<script src="{{ app.request.basepath }}/controllers/users.js"></script>

<script type="text/javascript">
    $(function() {
        App.users = new App.Collections.Users;
        App.users.reset({{ users | raw }});

		App.locations = {{ locations | raw }};
		App.meals = {{ meals | raw }};
		App.answers = {{ answers | raw }};
        
        App.init();
    });
</script>

<script type="text/template" id="user_show_template">
<a href="#users/<%= Id %>/show" class="setActive answered<%= Answered%>">
	<img src="{{ app.request.basepath }}/img/users/photo_<%= Id %>.jpg" alt="Photo de <%= DisplayName %>"/>
	<span class="userPresent"></span>
</a>
<div class="moreInformation show" style="display:<% print(active ? 'block' : 'none') %>;">
	<div class="actions">
	<a href="#users/<%= Id %>/edit" class="action edit">Modifier</a>
	<a href="#users/<%= Id %>/close" class="action close">Fermer</a>
	</div>
	<span class="firstname editEnabled form-field-text" title="Prénom"><%= Firstname %></span>
	<% if(Number > 1){ %>
	<span class="answer">
		<% if(Answered == 1){ %><span class="answer">ont confirmés</span>
		<% }else if(Answered == 2){ %><span class="answer">ne pourront venir</span>
		<% }else{ %><span class="answer">n'ont pas encore répondu</span><% } %>
	</span>
	<% } else { %>
	<span class="answer">
		<% if(Answered == 1){ %><span class="answer">a confirmé</span>
		<% }else if(Answered == 2){ %><span class="answer">ne pourra venir</span>
		<% }else{ %><span class="answer">n'a pas encore répondu</span><% } %>
	</span>
	<% } %>
	<span class="affiliation"><% _.each(Affiliation, function(elem) { %><span class="<%= elem %>" title="<%= elem %>"></span><% }) %></span>
	<% if(LocationId){ %>
	<span class="location"><img src="{{ app.request.basepath }}/img/<% if(LocationId == 1){ %>camping_noun_project_1116.svg<% } else if(LocationId == 2){ %>roof_noun_project_563.svg<% } %>" title="<%= LocationTitle %>" width="32" height="32"/></span>
	<% } %>
	<span class="description"><%= Description %></span>
</div>
</script>

<script type="text/template" id="user_edit_template">
<img src="img/users/photo_<%= Id %>.jpg" alt="Photo de <%= DisplayName %>"/>
<div class="moreInformation edit" style="display:<% print(active ? 'block' : 'none') %>;">
	<form id="userForm<%= Id %>">
	<div class="formElement"><label for="Firstname">Prénom</label><input type="text" name="Firstname" value="<%= Firstname %>"/></div>
	<div class="formElement"><label for="Affiliation">Affiliation</label><input type="text" name="Affiliation" value="<%= Affiliation %>"/></div>
	<div class="formElement"><label for="Answered">Présence</label>
	<div class="verticalAlign" id="Answered">
	<% _.each(App.answers, function(anAnswer) { %>
		<label class="radio"><input type="radio" name="Answered" value="<%= anAnswer.key %>" <% if (Answered == anAnswer.key){ %>checked="checked"<% } %>/> <%= anAnswer.label %></label>
	<% }); %>
	</div></div>
	<div class="formElement">
	<label for="Description">Description</label>
	<textarea name="Description"><%= Description %></textarea>
	</div>
	<div class="formElement LinktoAnswered" style="height:4em; overflow:hidden;">
	<label for="Meal">Repas</label>
	<select id="Meal" name="Meal[]" multiple="multiple">
		<% _.each(App.meals, function(aMeal) { %>
		<option value="<%= aMeal.key %>"><%= aMeal.label %></option>
		<% }); %>
	</select>
	</div>
	<div class="formElement LinktoAnswered"><label for="Number">Personne(s)</label><input type="text" name="Number" value="<%= Number %>"/></div>
	<div class="formElement LinktoAnswered">
		<label for="LocationId">Couchage</label>
		<select id="LocationId" name="LocationId">
			<option value="">?</option>
			<% _.each(App.locations, function(aLocation) { %>
			<option value="<%= aLocation.key %>" <% if (LocationId == aLocation.key){ %>selected="selected"<% } %>><%= aLocation.label %></option>
			<% }); %>
		</select>
	</div>
	<div class="actions"><input type="submit" value="Sauvegarder"><a href="#users/<%= Id %>/show" class="action undo">Annuler</a><img src="{{ app.request.basepath }}/img/ajax-loader.gif" alt="Indicateur requête en cours" style="display:none" id="userEditAjaxIndicator"/></div>
	</form>
</div>
</script>
{% endblock %}